@charset "utf-8";
/* CSS Document */

.coll_left{float:left;}

form#new.c {
	width:400px;
	margin:0px auto;
	text-align:left;
	margin-top:10px;
}

ul.c1 {
   list-style:      square outside;
   margin:          1em 0;
   padding:         0 0 0 2.5em;
   width:410px;
}
#c-top{margin-top:10px;}
#c-top1{margin-top:30px;}

li.f3 {padding:8px 0px;border-top:1px dotted #c7c7c7;min-height:27px; list-style:none; width:1000px;}

.coll_width{width:390px; height:145px;
}
.main_colle{width:1200px;
height:1000px;

margin:0 auto;
}
.main_coll_cover{width:1200px;
height:330px;

}
.main_coll_submit{width:1200px;
height:35px;

}
.main_coll_below{width:560px;
height:750px;

float:left;
margin-left:40px;
}
.main_coll_below2{width:600px;
height:750px;

float:left;
}

.main_coll_blo{width:1200px;
height:750px;

float:left;
}
.c-box{width:147px;
height:286px;

border:1px solid #999;
}

.in{margin-left:-21px !important;}


.part{width:603px;
height:310px;

float:left;
}
.part_be{width:603px;
height:750px;

float:left;

}
.part1{width:38px;
height:30px;
float:left;
border:1px solid #CCC;
text-align:center;
}
.part456{width:147px;
height:30px;
float:left;
border-bottom:2px solid #CCC;
text-align:center;
}

.partsec{width:40px;
height:30px;

float:left;
border:1px solid #CCC;
text-align:center;
}

.sel_height{height:210px;


}


.part2{width:58px;
height:30px;

float:left;
border:1px solid #CCC;
text-align:center;
}
.part2-check{width:43px;
height:30px;

float:left;
border:1px solid #CCC;
margin-left:15px;

}
.part21{width:150px;
height:30px;

float:left;
border:1px solid #CCC;
text-align:center;
}
.part23{width:100px;
height:30px;

float:left;
border:1px solid #CCC;
text-align:center;
}
.rowpart1{width:603px;
height:32px;
}

#mtop{margin-top:13px;}
#fetchh3{
   
   text-align:      left;
   margin:          0em 0 0 0;
   padding:         0;
   font-size:     70%;
   color:#19191a;
   
   
}

.tex{text-align:center;}
.back33{background-color:#cfddea; height:30px; text-align:center;margin-top:0px;}