@charset "utf-8";
/* CSS Document */

.main-fees-x{width:950px;
height:auto;
background-color:#e5e6e6;


}

.main-fees1-y{width:50px;
height:auto;

float:left;

}

.main-fees2-z{width:700px;
height:auto;

float:left;
}
.main-fees3-o{width:200px;
height:auto;

float:left;
}